---
import packageJson from "package.json";

import RootLayout, { type Props as RootProps } from "@layouts/root.astro";

import GithubIcon from "@icons/Github.astro";
import PrinterIcon from "@icons/Printer.astro";

export type Props = RootProps & {
  footer?: boolean | undefined;
  verticalAlign?: "top" | "center" | "bottom" | undefined;
};

const { verticalAlign = "top", footer = false, ...props } = Astro.props;

const verticalAlignClass = {
  top: "justify-start",
  center: "justify-center",
  bottom: "justify-end",
}[verticalAlign];
---

<RootLayout {...props}>
  <main
    class:list={[
      "flex flex-col flex-1 px-4 py-6 print:contents",
      verticalAlignClass,
    ]}
  >
    <slot />
  </main>

  {
    footer && (
      <footer class:list={[
        "flex justify-between place-items-center space-x-4 px-8 py-4 text-slate-400 sticky bottom-0",
        "bg-bg-footer-light dark:bg-bg-footer-dark",
        "2xl:bg-transparent 2xl:dark:bg-transparent",
        "print:hidden",
      ]}>
        <div class="flex place-items-center space-x-4">
          <a href="https://astro.build">
            <img
              src="https://astro.badg.es/v2/built-with-astro/tiny.svg"
              alt="Built with Astro"
              width="120"
              height="20"
            />
          </a>
        </div>

        <div class="flex place-items-center space-x-4">
          <a
            href={packageJson.repository.url}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-slate-600 dark:hover:text-slate-200 transition-colors"
          >
            <span class="sr-only">GitHub</span>
            <GithubIcon class="size-8" />
          </a>
          <button
            data-print-button
            class="hover:text-slate-600 dark:hover:text-slate-200 transition-colors"
          >
            <span class="sr-only">Print</span>
            <PrinterIcon class="size-8" />
          </button>
        </div>
      </footer>
    )
  }
</RootLayout>

<script>
  document
    .querySelector("[data-print-button]")
    ?.addEventListener("click", () => {
      window.print();
    });
</script>
